/*
*   Inicio Mobile
*/
.colordetexto{
  color: #572EE5;
}
.textonoche{
  color: white;
}
.colortexto2{
  color: #000000;
}
.colorobjetos{
  background-color:  #572EE5;
}
.colorbarra{
  background-color: black;
}
.fondotrending{
  background-color: #222326;
}
.colorobjeto{
  border:  #572EE5;
}


@media(max-width: 768px){
  .barra{
    height: 5px;
    
    background-color: #572EE5;
    
  }  

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .mainMenu{
    display: none;
    background:  #572EE5;
   opacity:0.9;
    list-style-type: none;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 200%;
    margin: 0px;
    padding-top: 0px;
    transform: translateY(50px);
    

  }

  .logo1{
    padding-left: 22px;
  }

    
  .li{
    display: flex;
    justify-content: center;
  }

  .btncrear{
    display: none;
  }

  .dark{
    font-family: 'Montserrat', sans-serif;
    color: #572EE5;
    
  }

  .dark{
    color: #FFFFFF;
    size: 16px;
    font-family: 'Montserrat', sans-serif;  
    margin: 50px;
  }

  .nav2{
  
    color: #FFFFFF;
    size: 16px;
    font-family: 'Montserrat', sans-serif; 
   
  }

  .hamIcon{
    padding-right: 22px;
  }

  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 29px;
  }

  .mainMenu.toggleCls{
    display: block;
  }

  .container3{
    
  }

  .inspirate{
    font-family: 'Montserrat', sans-serif;
    /*
    color: #572EE5;
    */
    size: 35px;
    display: flex;
    justify-content: center;
    padding-top: 24.2px;
  }

  .ilustra{
    width: 273px;
    height: 130px;

  }

  .ilu{
    display: flex;
    justify-content: center;
  }

  .searchbox{
    border: none;
    background: transparent;
    margin-left: 50px;
    margin-top: 14px;
    height: 22px;
    width: 210px;
    size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .searchicon{
    padding-right: 20px;
  }

  .search{
    border: 1px solid #572EE5;
    border-radius: 27px;
    width: 334px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .search{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .searchbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 45px;
    padding-bottom: 12px;
 
  }

  .searchdiv{
    display: flex;
    flex-direction: row;
  
  }
  .ul0 .li{
    display: block;
    display: none;
    background:  #572EE5;
   opacity:0.9;
  }

  .trending1{
    /*
    color: #572EE5;
    */
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-top: 31px;
  }

  .reactions{
    /*
    color: #572EE5;
    */
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .btn{
    background: transparent;
    background: url('/assets/scripts/icon-search.svg');
    background-repeat: no-repeat;
    font-size:0;
    border: hidden;
    padding: 15px;
    transform: translateY(14px);
  }

  .btn0{
    transform: translateX(-35px);
  }

  .container3{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchGIFOS{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*
  *   dark mode
  */

  .darkmode{
    background-color: #37383C;
    color: white; 


  }

  /*
  *   Sección search
  */


  .gif{
    width: 243px;
    height: 187px;
  }

  /*
  *   Sección trending
  */

  .trendingGIFOS{
    background-color: #F3F5F8;
    height: 430px;
    width: 100%;
  }

  .trend1{
    color: #572EE5;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 46px;
  }
  .trend2{
    /*
    color: #000000;
    */
    font-size: 16px;
    font-family: 'Roboto', sans-serif;;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 7px;
  }

  .trending{
    height: 187px;
    display: flex;
    flex-direction: row;
  }

  /*
  *   Sección footer
  */

  .footer{
    height: 196px;
    /*
    background-color: #FFFFFF ;
    */
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .compartir{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 47px;
  }

  .icon{
    align-items: center; 
    
  }

  .foot{
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: 'Roboto', sans-serif;
  }

  .icon2{
    align-items: center; 
    padding-top: 20px;
  }

  .fb{
    color: #CDD6E0;
 
  }

  .ig{
    color: #CDD6E0;

  }

  .tw{
    color: #CDD6E0;
    padding-right: 15px;
    padding-left: 15px;
  }

  .copyright{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 47px;
  }

 /*
  ********************************   Página favoritos
 */

  .boxfav1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textfav1{
    font-family: 'Roboto', sans-serif;
    color: #572EE5;
    font-size: 20px;
  }

  .textfav2{

  }

}

/*
***********************************   Fin mobile
*/


/*
*   Inicio Desktop
*/

@media(min-width: 769px){
  .body{
    margin: 0px;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  

  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    
  }

  .barra{
    height: 5px;
    
    background-color:#572EE5;
    
  }  

  .logo1{
    height: 59.1px;
    width: 59.1px;
    padding-left: 10.8%;
  }

  .hamIcon{
    display: none;
  }

  .mainMenu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none; 
    list-style-type: none;
    padding-right: 20px;

  }

  .btncrear{
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 100px;
  }

  .li1{
    padding-top: 20px; 
  }

  .nav2{
    padding-top: 20px;
    padding: 17px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    /*
    color: #572EE5;
    */

  }

  .dark{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding-top: 20px;
    /*
    color: #572EE5;
    */
  }

  .inspirate{
    font-family: 'Montserrat', sans-serif;
    /*
    color: #572EE5;  
    */
    size: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .searchbox{
    border: none;
    background: transparent;
    margin-right: 50px;
    height: 22px;
    width: 450px;
    size: 16px;
    
  }
  
  .search{
    border: 1px solid #572EE5;
    border-radius: 27px;
    width: 551px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
  .search{
    display: flex;
    flex-direction: column;
  }

  .searchdiv{
    display: flex;
    flex-direction: row;
  
  }

  .searchicon{
    padding-left: 220px;
  }

  .h1{
    color: black;
  }
  
  .ilu{
    display: flex;
    justify-content: center;
    padding-top: 27px;
  }
  
/*
*   dark mode
*/

.darkmode{
  background-color: #37383C;
  color: white;
   
 
}


/*
*   Sección search
*/

/*
*   Sección trending
*/
  .trending1{
    font-family: 'Montserrat', sans-serif;
    size: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 4.8%;
  }

  .reactions{
    font-family: 'Montserrat', sans-serif;
    size: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 0.5%;
  }

  .btn{
    background: transparent;
    background: url('/assets/scripts/icon-search.svg');
    background-repeat: no-repeat;
    font-size:0;
    border: hidden;
    padding: 15px;
    transform: translateY(12px);
  
  }

  .btn0{
    transform: translateX(-40px);
 
  }

  .container3{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchGIFOS{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trendingGIFOS{
    background-color: #F3F5F8;
    height: 640px;
    width: 100%;
  }

  .trending{
    height: 187px;
    display: flex;
    flex-direction: row;
    
  }

  .trend1{
    /*
    color: #572EE5;
    */
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 4.4%;
    padding-bottom: 3.5;
  }

  .trend2{
    color: #000000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 0.8%;

  }
  
  /*
  *   Sección footer
  */
  .footer{
    height: 116px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
  .foot{
    padding-top: 45px;
    display: flex;
    flex-direction: row;

  }

  .compartir{
    padding-left: 150px;
    font-family: 'Roboto', sans-serif;
    size: 13px;
  }

  .icon2{
  padding-left: 35px;
  display: flex;
  flex-direction: row;
  }

  .fb{
    color: #572EE5;
    opacity: 0.5;
  }

  .ig{
    color: #572EE5;
    opacity: 0.5;
  }

  .tw{
    color: #572EE5;
    padding-left: 19px;
    padding-right: 19px;
  }

  .icon{
    display: flex;
    flex-direction: row;
  }

  .copyright{
    size: 13px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding-left: 550px;
  }

   /*
  ********************************   Página favoritos
 */
 .boxfav1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textfav1{
  font-family: 'Roboto', sans-serif;
  color: #572EE5;
  font-size: 25px;

}


}
